In [1]:
first_name = "David"
first_name

'David'

In [2]:
age = 30
age

30

In [3]:
adult = True
adult

True

## List

In [4]:
students = ["David", "Harry", "Ron"]
students[0]

'David'

## Dictionary

In [5]:
person = {
    "first_name": "John",
    "second_name": "Novák",
    "age": 35
}
person["first_name"]

'John'

## Series

In [6]:
import pandas as pd

In [7]:
fruit = ["jablko", "banán", "pomeranč", "kiwi"]

... z toho vytvořím Series, aby to bylo připravený pro práci...

In [9]:
fruit_s = pd.Series(fruit)

In [10]:
fruit_s

0      jablko
1       banán
2    pomeranč
3        kiwi
dtype: object

In [15]:
shoe_size = [38, 39, 40, 41]
shoe_size_s = pd.Series(shoe_size)
shoe_size_s

0    38
1    39
2    40
3    41
dtype: int64

In [16]:
vip = [True, False, False, True, True]
vip_s = pd.Series(vip)
vip_s

0     True
1    False
2    False
3     True
4     True
dtype: bool

... nebo zkráceně to samé, narvu to tam rovnou....

In [17]:
vip_s = pd.Series([True, False, False, True, True])
vip_s

0     True
1    False
2    False
3     True
4     True
dtype: bool