## Zadání k procvičování

Zde je pole čísel, které představují množství vydaných Kč z bankomatu číslo 3. 
bank_machine_003 = [1000, 2000, 1500, 2000, 8000, 10000, 2500]
Vypočítej sumu vydaných peněz a průměrnou vydanou částku (průměr).
Chceme zjistit počet vydaných částek.
Zde jsou datumy, kdy k výběrům došlo: bank_machine_003_dates = ['1.1', '3.1', '3.1', '4.1', '6.1', '9.1', '10.1']
Vytvoř series, kde datumy budou představovat indexy (labely) a výběry budou hodnoty (data).

## Řešení

In [11]:
import pandas as pd

In [12]:
bank_machine_003 = [1000, 2000, 1500, 2000, 8000, 10000, 2500]

In [13]:
bank_machine_003_series = pd.Series(bank_machine_003)
bank_machine_003_series

0     1000
1     2000
2     1500
3     2000
4     8000
5    10000
6     2500
dtype: int64

In [14]:
bank_machine_003_series.sum()   #metoda

np.int64(27000)

In [15]:
bank_machine_003_series.mean()   #metoda

np.float64(3857.1428571428573)

In [16]:
bank_machine_003_series.size   # atribut

7

In [17]:
bank_machine_003_dates = ['1.1', '3.1', '3.1', '4.1', '6.1', '9.1', '10.1']

## první varianta, narvat to tam napřímo

In [18]:
bm003_table_s = pd.Series(data=[1000, 2000, 1500, 2000, 8000, 10000, 2500], index=['1.1', '3.1', '3.1', '4.1', '6.1', '9.1', '10.1'])
bm003_table_s

1.1      1000
3.1      2000
3.1      1500
4.1      2000
6.1      8000
9.1     10000
10.1     2500
dtype: int64

## druhá asi i lepší varianta (první data, pak indexy!)

In [19]:
bm004_table_s = pd.Series(bank_machine_003, bank_machine_003_dates)
bm004_table_s

1.1      1000
3.1      2000
3.1      1500
4.1      2000
6.1      8000
9.1     10000
10.1     2500
dtype: int64