In [14]:
import pandas as pd

In [15]:
last_names = pd.read_csv("data/bank_users.csv")["last_name"]

In [16]:
bank_account = pd.read_csv("data/bank_users.csv")["bank_account"]

Řazení

In [17]:
last_names.sort_values()

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object

In [18]:
bank_account.sort_values()

34     10.0
65     10.0
174    10.0
125    11.0
89     11.0
       ...
151     NaN
166     NaN
169     NaN
197     NaN
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [20]:
last_names.sort_values(ascending=True)

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object

In [21]:
last_names.sort_values(ascending=False)

82        Yushkin
15       Youngman
188       Yglesia
71     Yakobovicz
191        Wraith
          ...
39            Ary
116         Artis
184      Ancliffe
173      Alyokhin
63         Adamec
Name: last_name, Length: 200, dtype: object

In [22]:
bank_account.sort_values(ascending=True)

34     10.0
65     10.0
174    10.0
125    11.0
89     11.0
       ...
151     NaN
166     NaN
169     NaN
197     NaN
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [24]:
bank_account.sort_values(ascending=False).head()

49     100.0
127    100.0
51      98.0
87      97.0
96      97.0
Name: bank_account, dtype: float64

In [26]:
bank_account.sort_values(ascending=False).tail(8)

117   NaN
133   NaN
144   NaN
151   NaN
166   NaN
169   NaN
197   NaN
199   NaN
Name: bank_account, dtype: float64