In [1]:
import pandas as pd

In [4]:
bank_users = pd.read_csv("data/bank_users.csv", usecols=["last_name"]).squeeze()
bank_users

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [5]:
bank_users.iloc[0]

'Gotts'

In [7]:
bank_users.loc[0]

'Gotts'

In [8]:
bank_users.iloc[198]

'Laughren'

In [10]:
bank_users.loc[198]

'Laughren'

In [16]:
bank_users = pd.read_csv("data/bank_users.csv", usecols=["last_name", "email"], index_col="last_name").squeeze("columns")
bank_users

last_name
Gotts            sgotts0@newsvine.com
Linsey                slinsey1@qq.com
Gorton             agorton2@google.es
Steanyng         gsteanyng3@google.fr
Cockaday              bcockaday4@t.co
                      ...
Oppy           foppy5f@shutterfly.com
Labbati     alabbati5g@yellowbook.com
Cordery           acordery5h@furl.net
Laughren      alaughren5i@yahoo.co.jp
Peckitt       hpeckitt5j@multiply.com
Name: email, Length: 200, dtype: object

In [18]:
bank_users.loc["Gotts"]

'sgotts0@newsvine.com'