In [16]:
import pandas as pd

In [17]:
bank_users = pd.read_csv("data/bank_users.csv", usecols=["last_name"]).squeeze("columns")
bank_users

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [18]:
bank_users[0] = "Šetek"
bank_users.head()

0       Šetek
1      Linsey
2      Gorton
3    Steanyng
4    Cockaday
Name: last_name, dtype: object

In [19]:
bank_users[[1,2,3]] = ["Harry", "Ron", "Herminona"]
bank_users.head()

0        Šetek
1        Harry
2          Ron
3    Herminona
4     Cockaday
Name: last_name, dtype: object

In [20]:
bank_users.iloc[0] = "Potter"
bank_users.head()

0       Potter
1        Harry
2          Ron
3    Herminona
4     Cockaday
Name: last_name, dtype: object

In [21]:
bank_users.iloc[[1, 2, 3]] = ["Jedna", "Dva", "Tři"]
bank_users.head()

0      Potter
1       Jedna
2         Dva
3         Tři
4    Cockaday
Name: last_name, dtype: object