In [4]:
import pandas as pd

In [5]:
bank_users_account = pd.read_csv("data/bank_users.csv")["bank_account"]
bank_users_account

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
195    90.0
196    56.0
197     NaN
198    87.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [6]:
bank_users_account.dropna()

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
193    56.0
194    29.0
195    90.0
196    56.0
198    87.0
Name: bank_account, Length: 179, dtype: float64

In [8]:
bank_users_account.sum()

np.float64(10088.0)

In [9]:
bank_users_account.count()

np.int64(179)

In [10]:
bank_users_account.product()

np.float64(4.880285561347911e+302)

In [13]:
pd.Series([10, 20 , 3]).product()

np.int64(600)

In [14]:
bank_users_account.mean()

np.float64(56.357541899441344)

In [16]:
bank_users_account.max()

np.float64(100.0)

In [17]:
bank_users_account.min()

np.float64(10.0)

In [18]:
bank_users_account.median()

np.float64(56.0)

In [19]:
bank_users_account.mode()

0    58.0
1    72.0
Name: bank_account, dtype: float64

In [21]:
pd.Series([10, 20, 20, 20, 30, 30, 30]).mode()

0    20
1    30
dtype: int64

In [22]:
bank_users_account.describe()

count    179.000000
mean      56.357542
std       26.028627
min       10.000000
25%       33.000000
50%       56.000000
75%       79.000000
max      100.000000
Name: bank_account, dtype: float64