In [2]:
import pandas as pd

In [3]:
bank_account = pd.read_csv("data/bank_users.csv")["bank_account"]
bank_account

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
195    90.0
196    56.0
197     NaN
198    87.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [4]:
type(bank_account)

pandas.core.series.Series

In [5]:
bank_account + 10

0       68.0
1       80.0
2       58.0
3      102.0
4       88.0
       ...
195    100.0
196     66.0
197      NaN
198     97.0
199      NaN
Name: bank_account, Length: 200, dtype: float64

In [6]:
bank_account.add(10)

0       68.0
1       80.0
2       58.0
3      102.0
4       88.0
       ...
195    100.0
196     66.0
197      NaN
198     97.0
199      NaN
Name: bank_account, Length: 200, dtype: float64

In [7]:
bank_account.sub(30)

0      28.0
1      40.0
2      18.0
3      62.0
4      48.0
       ...
195    60.0
196    26.0
197     NaN
198    57.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [8]:
bank_account.mul(100)

0      5800.0
1      7000.0
2      4800.0
3      9200.0
4      7800.0
        ...
195    9000.0
196    5600.0
197       NaN
198    8700.0
199       NaN
Name: bank_account, Length: 200, dtype: float64

In [10]:
bank_account.div(100)

0      0.58
1      0.70
2      0.48
3      0.92
4      0.78
       ...
195    0.90
196    0.56
197     NaN
198    0.87
199     NaN
Name: bank_account, Length: 200, dtype: float64