In [1]:
import pandas as pd

In [9]:
bank_account= pd.read_csv("data/bank_users.csv", index_col="last_name", usecols=["last_name", "bank_account"]).squeeze("columns")
bank_account

last_name
Gotts       58.0
Linsey      70.0
Gorton      48.0
Steanyng    92.0
Cockaday    78.0
            ...
Oppy        90.0
Labbati     56.0
Cordery      NaN
Laughren    87.0
Peckitt      NaN
Name: bank_account, Length: 200, dtype: float64

In [10]:
bank_account.value_counts()

bank_account
58.0    6
72.0    6
43.0    5
48.0    5
56.0    5
       ..
49.0    1
77.0    1
83.0    1
23.0    1
76.0    1
Name: count, Length: 76, dtype: int64

In [16]:
bank_account.value_counts(ascending=True)

bank_account
70.0    1
92.0    1
62.0    1
30.0    1
81.0    1
       ..
43.0    5
56.0    5
21.0    5
58.0    6
72.0    6
Name: count, Length: 76, dtype: int64

In [20]:
bank_account.value_counts(normalize=True)*100

bank_account
58.0    3.351955
72.0    3.351955
43.0    2.793296
48.0    2.793296
56.0    2.793296
          ...
49.0    0.558659
77.0    0.558659
83.0    0.558659
23.0    0.558659
76.0    0.558659
Name: proportion, Length: 76, dtype: float64