In [1]:
import pandas as pd

In [3]:
last_names = pd.read_csv("data/bank_users.csv")["last_name"]
last_names

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [4]:
len(last_names)

200

In [5]:
last_names.apply(len)

0      5
1      6
2      6
3      8
4      8
      ..
195    4
196    7
197    7
198    8
199    7
Name: last_name, Length: 200, dtype: int64

In [14]:
def count_letter_a(one_last_name):
    return one_last_name.lower().count('a')

count_letter_a("Davida")

2

In [15]:
last_names.apply(count_letter_a)

0      0
1      0
2      0
3      1
4      2
      ..
195    0
196    2
197    0
198    1
199    0
Name: last_name, Length: 200, dtype: int64

In [18]:
last_names.sort_values().apply(count_letter_a)

63     2
173    1
184    1
116    1
39     1
      ..
191    1
71     1
188    1
15     1
82     0
Name: last_name, Length: 200, dtype: int64

In [19]:
last_names.sort_values()

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object