In [8]:
import pandas as pd

In [9]:
reality = pd.read_csv("data/reality.csv")
reality

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
31604,66031.0,for_sale,110000.0,NaN,NaN,1.00,1971077.0,Sandy River Plt,Maine,4970.0,NaN,NaN
31605,66031.0,for_sale,315000.0,NaN,NaN,4.00,1272450.0,Sandy River Plt,Maine,4970.0,NaN,NaN
31606,53222.0,for_sale,290000.0,NaN,NaN,2.40,1855856.0,Dallas Plt,Maine,4970.0,NaN,NaN
31607,66031.0,for_sale,119000.0,NaN,NaN,2.80,1876925.0,Sandy River Plt,Maine,4970.0,NaN,NaN
31608,66031.0,for_sale,145000.0,NaN,NaN,3.60,1836894.0,Rangeley Plt,Maine,4970.0,NaN,NaN

In [10]:
reality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31609 entries, 0 to 31608
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brokered_by     31603 non-null  float64
 1   status          31609 non-null  object
 2   price           31609 non-null  float64
 3   bed             23275 non-null  float64
 4   bath            23314 non-null  float64
 5   acre_lot        26893 non-null  float64
 6   street          31536 non-null  float64
 7   city            31593 non-null  object
 8   state           31609 non-null  object
 9   zip_code        31581 non-null  float64
 10  house_size      23445 non-null  float64
 11  prev_sold_date  10114 non-null  object
dtypes: float64(8), object(4)
memory usage: 2.9+ MB

In [11]:
reality.describe()

,brokered_by,price,bed,bath,acre_lot,street,zip_code,house_size
count,31603.000000,3.160900e+04,23275.000000,23314.000000,26893.000000,3.153600e+04,31581.000000,2.344500e+04
mean,51389.449261,6.497414e+05,3.484425,2.563095,21.416199,1.083364e+06,3482.506222,2.267156e+03
std,31962.980607,1.317486e+06,2.132493,2.109958,1070.037990,6.126989e+05,2433.770068,9.690166e+03
min,56.000000,1.000000e+00,1.000000,1.000000,0.000000,4.000000e+00,601.000000,1.000000e+02
25%,22611.000000,1.750000e+05,2.000000,2.000000,0.230000,5.609278e+05,2026.000000,1.210000e+03
50%,52612.000000,3.500000e+05,3.000000,2.000000,0.680000,1.118038e+06,2895.000000,1.750000e+03
75%,79077.000000,6.499000e+05,4.000000,3.000000,2.450000,1.651030e+06,4627.000000,2.600000e+03
max,110138.000000,6.000000e+07,99.000000,198.000000,100000.000000,2.001321e+06,99999.000000,1.450112e+06