Tak konečně DataFrame

In [2]:
import pandas as pd

In [16]:
bank_users = pd.read_csv("data/bank_users.csv")
bank_users

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tāngāil
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik
...,...,...,...,...,...,...
195,Franz,Oppy,foppy5f@shutterfly.com,90.0,2020.0,Bílina Kyselka
196,Adolphus,Labbati,alabbati5g@yellowbook.com,56.0,1984.0,Berlin
197,Aurelea,Cordery,acordery5h@furl.net,NaN,1992.0,Veshnyaki
198,Armstrong,Laughren,alaughren5i@yahoo.co.jp,87.0,1983.0,Detik Satu
199,Henrietta,Peckitt,hpeckitt5j@multiply.com,NaN,1967.0,Phú Lộc

In [17]:
bank_users.head()

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tāngāil
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik

In [19]:
bank_users.tail(9)

,first_name,last_name,email,bank_account,born_year,city
191,Cathrine,Wraith,cwraith5b@washington.edu,91.0,1993.0,Jinxiu
192,Gram,Chastand,gchastand5c@typepad.com,87.0,1990.0,Poitiers
193,Perle,Gavrielly,pgavrielly5d@123-reg.co.uk,56.0,2008.0,Santa Fe de la Vera Cruz
194,Brennan,Stow,bstow5e@w3.org,29.0,1976.0,Psary
195,Franz,Oppy,foppy5f@shutterfly.com,90.0,2020.0,Bílina Kyselka
196,Adolphus,Labbati,alabbati5g@yellowbook.com,56.0,1984.0,Berlin
197,Aurelea,Cordery,acordery5h@furl.net,NaN,1992.0,Veshnyaki
198,Armstrong,Laughren,alaughren5i@yahoo.co.jp,87.0,1983.0,Detik Satu
199,Henrietta,Peckitt,hpeckitt5j@multiply.com,NaN,1967.0,Phú Lộc

In [22]:
my_series = pd.Series([10, 20, 30, 40])
my_series

0    10
1    20
2    30
3    40
dtype: int64

In [23]:
my_series.index

RangeIndex(start=0, stop=4, step=1)

In [24]:
my_series.values

array([10, 20, 30, 40])

In [25]:
bank_users.index

RangeIndex(start=0, stop=200, step=1)

In [26]:
bank_users.values

array([['Shawn', 'Gotts', 'sgotts0@newsvine.com', 58.0, nan, 'Jinchuan'],
       ['Sergeant', 'Linsey', 'slinsey1@qq.com', 70.0, 2007.0, 'Tāngāil'],
       ['Ambrosio', 'Gorton', 'agorton2@google.es', 48.0, 2000.0,
        'Zhushan Chengguanzhen'],
       ...,
       ['Aurelea', 'Cordery', 'acordery5h@furl.net', nan, 1992.0,
        'Veshnyaki'],
       ['Armstrong', 'Laughren', 'alaughren5i@yahoo.co.jp', 87.0, 1983.0,
        'Detik Satu'],
       ['Henrietta', 'Peckitt', 'hpeckitt5j@multiply.com', nan, 1967.0,
        'Phú Lộc']], dtype=object)

In [29]:
my_series.shape

(4,)

In [28]:
bank_users.shape

(200, 6)

In [30]:
my_series.dtypes

dtype('int64')

In [32]:
type(bank_users.dtypes)

pandas.core.series.Series

In [33]:
my_series.hasnans

False

In [35]:
# bank_users.hasnans

In [36]:
my_series.columns

AttributeError: 'Series' object has no attribute 'columns'

In [37]:
bank_users.columns

Index(['first_name', 'last_name', 'email', 'bank_account', 'born_year',
       'city'],
      dtype='object')

In [38]:
my_series.axes

[RangeIndex(start=0, stop=4, step=1)]

In [39]:
bank_users.axes         # o je vertiální, 1 je horizontální

[RangeIndex(start=0, stop=200, step=1),
 Index(['first_name', 'last_name', 'email', 'bank_account', 'born_year',
        'city'],
       dtype='object')]

In [40]:
my_series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 164.0 bytes

In [41]:
bank_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    200 non-null    object
 1   last_name     200 non-null    object
 2   email         192 non-null    object
 3   bank_account  179 non-null    float64
 4   born_year     176 non-null    float64
 5   city          187 non-null    object
dtypes: float64(2), object(4)
memory usage: 9.5+ KB