In [1]:
import pandas as pd

In [3]:
reality = pd.read_csv("data/reality.csv")
reality.head(3)

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN

In [4]:
reality["state"].value_counts()

state
Massachusetts     10188
Maine              5012
Connecticut        4455
New Hampshire      3562
Rhode Island       3417
Puerto Rico        2664
New York            866
Virgin Islands      750
Vermont             689
Virginia              2
Tennessee             1
South Carolina        1
New Jersey            1
Wyoming               1
Name: count, dtype: int64

In [7]:
reality["bath"].value_counts().sort_index()

bath
1.0      4737
2.0      8975
3.0      5899
4.0      2015
5.0       780
6.0       393
7.0       185
8.0       124
9.0        72
10.0       47
11.0       16
12.0       15
13.0        9
14.0        6
15.0        7
16.0        7
17.0        3
18.0        3
19.0        2
20.0        6
22.0        1
25.0        1
27.0        1
28.0        1
29.0        1
30.0        1
33.0        1
35.0        1
36.0        1
42.0        1
51.0        1
56.0        1
198.0       1
Name: count, dtype: int64

In [9]:
reality["bath"].max()

np.float64(198.0)

In [10]:
reality.bath.max()

np.float64(198.0)

In [14]:
reality.bath.value_counts(normalize=True) * 100

bath
2.0      38.496183
3.0      25.302393
1.0      20.318264
4.0       8.642876
5.0       3.345629
6.0       1.685682
7.0       0.793515
8.0       0.531869
9.0       0.308827
10.0      0.201596
11.0      0.068628
12.0      0.064339
13.0      0.038603
15.0      0.030025
16.0      0.030025
14.0      0.025736
20.0      0.025736
17.0      0.012868
18.0      0.012868
19.0      0.008579
35.0      0.004289
25.0      0.004289
36.0      0.004289
56.0      0.004289
42.0      0.004289
51.0      0.004289
28.0      0.004289
198.0     0.004289
22.0      0.004289
33.0      0.004289
27.0      0.004289
30.0      0.004289
29.0      0.004289
Name: proportion, dtype: float64