In [1]:
import pandas as pd

In [4]:
students = pd.read_csv("data/students.csv").dropna(how="all")
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    object
 3   weight           443 non-null    float64
 4   height           401 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [6]:
students.head(3)

  first_name last_name favourite_color  weight  height
0     Murray     Looby            Pink   103.0   198.0
1     Aileen    Wheble           Green    88.0   200.0
2    Ignacio   Danigel             Red   109.0     NaN

In [7]:
students.weight = students.weight.fillna(0)

In [8]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    object
 3   weight           500 non-null    float64
 4   height           401 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [10]:
students.height = students.height.fillna(0)

In [11]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    object
 3   weight           500 non-null    float64
 4   height           500 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [12]:
students.favourite_color = students.favourite_color.fillna("unknown")

In [13]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  500 non-null    object
 3   weight           500 non-null    float64
 4   height           500 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [14]:
students.dtypes

first_name          object
last_name           object
favourite_color     object
weight             float64
height             float64
dtype: object

In [21]:
students.weight = students.weight.astype("int32")

In [22]:
students.height = students.height.astype("int32")

In [23]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  500 non-null    object
 3   weight           500 non-null    int32
 4   height           500 non-null    int32
dtypes: int32(2), object(3)
memory usage: 19.5+ KB