In [1]:
import pandas as pd

In [2]:
students = pd.read_csv("data/students.csv").dropna(how="all")

In [3]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    object
 3   weight           443 non-null    float64
 4   height           401 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [4]:
students.head()

  first_name    last_name favourite_color  weight  height
0     Murray        Looby            Pink   103.0   198.0
1     Aileen       Wheble           Green    88.0   200.0
2    Ignacio      Danigel             Red   109.0     NaN
3   Marianna  Grzegorczyk       Turquoise    90.0   193.0
4    Pernell   Rawlcliffe       Turquoise     NaN   212.0

In [5]:
students.favourite_color.nunique()

19

In [6]:
students.nunique()

first_name         488
last_name          496
favourite_color     19
weight              26
height              26
dtype: int64

In [7]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    object
 3   weight           443 non-null    float64
 4   height           401 non-null    float64
dtypes: float64(2), object(3)
memory usage: 23.4+ KB

In [11]:
students.favourite_color = students.favourite_color. astype("category")
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       500 non-null    object
 1   last_name        500 non-null    object
 2   favourite_color  469 non-null    category
 3   weight           443 non-null    float64
 4   height           401 non-null    float64
dtypes: category(1), float64(2), object(2)
memory usage: 20.7+ KB