In [1]:
import pandas as pd

In [5]:
bank_users = pd.read_csv("data/bank_users.csv")
bank_users.head()

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tﾄ］gﾄ（l
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik

In [7]:
bank_users.bank_account.rank()

0       97.5
1      115.0
2       74.0
3      160.0
4      132.5
       ...
195    155.0
196     90.0
197      NaN
198    147.5
199      NaN
Name: bank_account, Length: 200, dtype: float64

In [9]:
bank_users.bank_account.rank().sort_values().head(10)

34     2.0
65     2.0
174    2.0
125    4.5
89     4.5
73     6.0
170    7.5
67     7.5
115    9.5
128    9.5
Name: bank_account, dtype: float64

In [10]:
bank_users.bank_account.sort_values().head(10)

34     10.0
65     10.0
174    10.0
125    11.0
89     11.0
73     13.0
170    15.0
67     15.0
115    16.0
128    16.0
Name: bank_account, dtype: float64