In [1]:
import pandas as pd

In [2]:
employees = pd.read_csv("data/employees.csv").dropna(how="all")
employees

,id_employee,gender,start date,insurance,salary,rise_salary,department
0,1,Male,11/26/2023,False,356619,6.9,Support
1,2,Female,1/27/2024,True,626147,13.0,Engineering
2,3,Female,3/30/2023,True,332593,6.3,Support
3,4,Male,1/8/2024,True,325067,9.9,Human Resources
4,5,Female,4/15/2024,False,667828,13.6,Product Management
...,...,...,...,...,...,...,...
995,996,Female,3/31/2023,False,377851,12.0,Human Resources
996,997,Female,1/5/2024,False,620298,12.8,Product Management
997,998,NaN,3/16/2024,False,361957,13.3,Engineering
998,999,Male,7/20/2023,False,466946,12.6,Sales
999,1000,Male,8/30/2023,True,499784,7.4,Sales

In [3]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    object
 2   start date   1000 non-null   object
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 48.0+ KB

? dá se něco převést na kategorie? (když jsou velká data rozdělená do málo kategorií) – gender na kategorie

? dá se něco převést na časový údaj? – pro budoucí lepší pracování – na datový typ datum – start date

? dá se něco převést na Bolean – zde už máme Insurance jako Bolean

In [7]:
employees.gender = employees.gender.astype("category")
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    category
 2   start date   1000 non-null   object
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), category(1), float64(1), int64(2), object(2)
memory usage: 41.5+ KB

In [14]:
pd.to_datetime(employees["start date"], format="%m/%d/%Y")
employees["start date"] = pd.to_datetime(employees["start date"], format="%m/%d/%Y")

In [15]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    category
 2   start date   1000 non-null   datetime64[ns]
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 41.5+ KB

alternativní zápis převodu na datum

In [25]:
employees2 = pd.read_csv("data/employees.csv", parse_dates=["start date"], date_format="%m/%d/%Y")
employees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    object
 2   start date   1000 non-null   datetime64[ns]
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 48.0+ KB