In [1]:
import pandas as pd

In [2]:
employees = pd.read_csv("data/employees.csv").dropna(how="all")
employees

,id_employee,gender,start date,insurance,salary,rise_salary,department
0,1,Male,11/26/2023,False,356619,6.9,Support
1,2,Female,1/27/2024,True,626147,13.0,Engineering
2,3,Female,3/30/2023,True,332593,6.3,Support
3,4,Male,1/8/2024,True,325067,9.9,Human Resources
4,5,Female,4/15/2024,False,667828,13.6,Product Management
...,...,...,...,...,...,...,...
995,996,Female,3/31/2023,False,377851,12.0,Human Resources
996,997,Female,1/5/2024,False,620298,12.8,Product Management
997,998,NaN,3/16/2024,False,361957,13.3,Engineering
998,999,Male,7/20/2023,False,466946,12.6,Sales
999,1000,Male,8/30/2023,True,499784,7.4,Sales

In [3]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    object
 2   start date   1000 non-null   object
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 48.0+ KB

? dá se něco převést na kategorie? (když jsou velká data rozdělená do málo kategorií) – gender na kategorie

? dá se něco převést na časový údaj? – pro budoucí lepší pracování – na datový typ datum – start date

? dá se něco převést na Bolean – zde už máme Insurance jako Bolean

In [4]:
employees.gender = employees.gender.astype("category")
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    category
 2   start date   1000 non-null   object
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), category(1), float64(1), int64(2), object(2)
memory usage: 41.5+ KB

In [5]:
pd.to_datetime(employees["start date"], format="%m/%d/%Y")
employees["start date"] = pd.to_datetime(employees["start date"], format="%m/%d/%Y")

In [6]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    category
 2   start date   1000 non-null   datetime64[ns]
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 41.5+ KB

alternativní zápis převodu na datum

In [7]:
employees2 = pd.read_csv("data/employees.csv", parse_dates=["start date"], date_format="%m/%d/%Y")
employees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_employee  1000 non-null   int64
 1   gender       930 non-null    object
 2   start date   1000 non-null   datetime64[ns]
 3   insurance    1000 non-null   bool
 4   salary       1000 non-null   int64
 5   rise_salary  1000 non-null   float64
 6   department   1000 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 48.0+ KB

Pokračování - filtrování dat pomocí a zároveň

In [8]:
is_female = employees.gender == "Female"
is_in_support = employees.department == "Support"
salary_over_500k = employees.salary >= 500000
have_insurance = employees.insurance == True

In [9]:
is_female & is_in_support
employees[is_female & is_in_support]

     id_employee  gender start date  insurance  salary  rise_salary department
2              3  Female 2023-03-30       True  332593          6.3    Support
41            42  Female 2024-02-21      False  617534         13.7    Support
58            59  Female 2024-05-10      False  584882          9.0    Support
64            65  Female 2023-06-18      False  753501          7.3    Support
127          128  Female 2023-04-18      False  631743          9.4    Support
155          156  Female 2023-02-23       True  355814          5.5    Support
203          204  Female 2024-04-08      False  604025          7.2    Support
212          213  Female 2024-01-13       True  697679          7.0    Support
258          259  Female 2023-04-22      False  684027         13.8    Support
269          270  Female 2024-02-02       True  597540         10.1    Support
291          292  Female 2023-02-17       True  790241         12.3    Support
341          342  Female 2023-12-13       True  672484          5.8    Support
352          353  Female 2024-05-14       True  676846          9.1    Support
369          370  Female 2023-07-02       True  571099          9.9    Support
396          397  Female 2023-05-13       True  397877          7.7    Support
397          398  Female 2023-09-18       True  336067         11.3    Support
436          437  Female 2023-11-14       True  497946          9.9    Support
480          481  Female 2024-02-02      False  474483         12.7    Support
481          482  Female 2023-08-17       True  765030          6.5    Support
588          589  Female 2024-02-11       True  693756         14.0    Support
614          615  Female 2024-04-16       True  328529          9.5    Support
620          621  Female 2024-02-02      False  533414         12.3    Support
664          665  Female 2023-03-30       True  695784          8.5    Support
695          696  Female 2023-07-23      False  784563         13.9    Support
747          748  Female 2023-07-23      False  697144          8.9    Support
781          782  Female 2023-06-27      False  537043         13.3    Support
834          835  Female 2023-07-29      False  589023         11.6    Support
865          866  Female 2023-02-21      False  321565         12.5    Support
870          871  Female 2023-10-22      False  674282          7.0    Support
871          872  Female 2023-09-21      False  567561          9.6    Support
886          887  Female 2023-10-22       True  341811         14.7    Support
911          912  Female 2023-11-08      False  636940         10.8    Support
919          920  Female 2023-07-06      False  404307          6.6    Support
955          956  Female 2023-11-13       True  586773          5.1    Support
975          976  Female 2024-01-07       True  753959          8.8    Support
982          983  Female 2023-08-21      False  581549          7.7    Support

In [10]:
employees[is_female & have_insurance]

,id_employee,gender,start date,insurance,salary,rise_salary,department
1,2,Female,2024-01-27,True,626147,13.0,Engineering
2,3,Female,2023-03-30,True,332593,6.3,Support
10,11,Female,2023-10-31,True,448591,5.5,Marketing
13,14,Female,2023-11-13,True,717387,7.4,Human Resources
17,18,Female,2023-09-21,True,732378,12.5,Training
...,...,...,...,...,...,...,...
972,973,Female,2023-03-08,True,332217,10.2,Business Development
975,976,Female,2024-01-07,True,753959,8.8,Support
976,977,Female,2024-01-03,True,373133,14.5,Sales
979,980,Female,2023-12-26,True,397030,11.7,Services
985,986,Female,2023-04-23,True,768877,7.9,Services

In [11]:
employees[is_female & is_in_support & salary_over_500k]

     id_employee  gender start date  insurance  salary  rise_salary department
41            42  Female 2024-02-21      False  617534         13.7    Support
58            59  Female 2024-05-10      False  584882          9.0    Support
64            65  Female 2023-06-18      False  753501          7.3    Support
127          128  Female 2023-04-18      False  631743          9.4    Support
203          204  Female 2024-04-08      False  604025          7.2    Support
212          213  Female 2024-01-13       True  697679          7.0    Support
258          259  Female 2023-04-22      False  684027         13.8    Support
269          270  Female 2024-02-02       True  597540         10.1    Support
291          292  Female 2023-02-17       True  790241         12.3    Support
341          342  Female 2023-12-13       True  672484          5.8    Support
352          353  Female 2024-05-14       True  676846          9.1    Support
369          370  Female 2023-07-02       True  571099          9.9    Support
481          482  Female 2023-08-17       True  765030          6.5    Support
588          589  Female 2024-02-11       True  693756         14.0    Support
620          621  Female 2024-02-02      False  533414         12.3    Support
664          665  Female 2023-03-30       True  695784          8.5    Support
695          696  Female 2023-07-23      False  784563         13.9    Support
747          748  Female 2023-07-23      False  697144          8.9    Support
781          782  Female 2023-06-27      False  537043         13.3    Support
834          835  Female 2023-07-29      False  589023         11.6    Support
870          871  Female 2023-10-22      False  674282          7.0    Support
871          872  Female 2023-09-21      False  567561          9.6    Support
911          912  Female 2023-11-08      False  636940         10.8    Support
955          956  Female 2023-11-13       True  586773          5.1    Support
975          976  Female 2024-01-07       True  753959          8.8    Support
982          983  Female 2023-08-21      False  581549          7.7    Support

úkol - všichni muži, kteří mají větší mzdu než 600k a jsou to prodejci (sales)

In [12]:
is_male = employees.gender == "Male"
salary_over_600k = employees.salary >= 600000
is_in_sales = employees.department == "Sales"

In [13]:
employees[is_male & salary_over_600k & is_in_sales]

     id_employee gender start date  insurance  salary  rise_salary department
60            61   Male 2023-07-04      False  743284          9.7      Sales
171          172   Male 2024-03-07       True  715141         12.7      Sales
225          226   Male 2024-04-05       True  788188         13.9      Sales
235          236   Male 2024-02-25      False  665988         11.7      Sales
263          264   Male 2023-09-11       True  718958          7.6      Sales
296          297   Male 2023-11-22      False  762945          7.8      Sales
324          325   Male 2023-11-03       True  629692         12.0      Sales
400          401   Male 2024-04-12      False  732541          5.9      Sales
514          515   Male 2023-08-24      False  647929          9.3      Sales
900          901   Male 2023-12-29      False  799578          8.2      Sales

filtrování pomocí nebo

In [15]:
# znova jsem si vytáhnul připravené sloupce

is_female = employees.gender == 'Female'
is_in_support = employees.department == 'Support'
salary_over_500k = employees.salary >= 500000
have_insurance = employees.insurance == True
is_male = employees.gender == 'Male'
salary_over_600k = employees.salary >= 600000
is_in_sales = employees.department == 'Sales'

In [16]:
employees[is_female | have_insurance]

,id_employee,gender,start date,insurance,salary,rise_salary,department
1,2,Female,2024-01-27,True,626147,13.0,Engineering
2,3,Female,2023-03-30,True,332593,6.3,Support
3,4,Male,2024-01-08,True,325067,9.9,Human Resources
4,5,Female,2024-04-15,False,667828,13.6,Product Management
6,7,Male,2024-01-19,True,375881,6.9,Engineering
...,...,...,...,...,...,...,...
993,994,Male,2023-05-04,True,795280,7.2,Legal
994,995,Female,2023-08-19,False,433879,14.3,Engineering
995,996,Female,2023-03-31,False,377851,12.0,Human Resources
996,997,Female,2024-01-05,False,620298,12.8,Product Management
999,1000,Male,2023-08-30,True,499784,7.4,Sales

In [17]:
employees[is_in_support | salary_over_600k]

,id_employee,gender,start date,insurance,salary,rise_salary,department
0,1,Male,2023-11-26,False,356619,6.9,Support
1,2,Female,2024-01-27,True,626147,13.0,Engineering
2,3,Female,2023-03-30,True,332593,6.3,Support
4,5,Female,2024-04-15,False,667828,13.6,Product Management
8,9,Polygender,2023-10-09,False,694415,7.3,Human Resources
...,...,...,...,...,...,...,...
988,989,Male,2023-04-02,False,757385,8.4,Accounting
989,990,Male,2024-02-23,True,332813,14.0,Support
991,992,Male,2024-02-14,True,687303,8.5,Legal
993,994,Male,2023-05-04,True,795280,7.2,Legal
996,997,Female,2024-01-05,False,620298,12.8,Product Management

In [19]:
employees[is_male | is_in_support | have_insurance]

,id_employee,gender,start date,insurance,salary,rise_salary,department
0,1,Male,2023-11-26,False,356619,6.9,Support
1,2,Female,2024-01-27,True,626147,13.0,Engineering
2,3,Female,2023-03-30,True,332593,6.3,Support
3,4,Male,2024-01-08,True,325067,9.9,Human Resources
5,6,Male,2024-01-26,False,579460,5.6,Services
...,...,...,...,...,...,...,...
990,991,Male,2023-05-21,True,316101,12.7,Engineering
991,992,Male,2024-02-14,True,687303,8.5,Legal
993,994,Male,2023-05-04,True,795280,7.2,Legal
998,999,Male,2023-07-20,False,466946,12.6,Sales
999,1000,Male,2023-08-30,True,499784,7.4,Sales