iloc

In [2]:
import pandas as pd

In [5]:
bond = pd.read_csv("data/jamesbond.csv")
bond.head(3)

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1

index location - iloc

In [9]:
bond.iloc[2]        # Series
bond.iloc[[3, 3]]   # DataFrame

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0

In [12]:
bond.iloc[4:8]  # 4-7, 8 není součástí

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0
5,1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,John Barry,Richard Maibaum,Michael Reed,"Portugal, Great Britain, Switzerland","England, Switzerland, Portugal",Mercury,...,142,6.8,6.7,3,1,2,5,37,0,0
6,1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Tom Mankiewicz,Ted Moore,"Japan, Egypt, France, South Africa, Great Brit...","England, France, Germany, Netherlands, United ...",Ford,...,120,6.7,6.3,1,0,1,7,42,1,0
7,1973,Live and Let Die,Roger Moore,Guy Hamilton,George Martin,Tom Mankiewicz,Ted Moore,"United States, Great Britain, Jamaica","England, United States, Jamaica",AMC,...,121,6.8,5.9,3,0,1,8,5,1,1

In [14]:
bond.iloc[0:4]
bond.iloc[:4]       # stejný zápis jako výše

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0

In [15]:
bond.iloc[20:]  # od 20 do konce

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
20,2006,Casino Royale,Daniel Craig,Martin Campbell,David Arnold,"Neal Purvis, Robert Wade & Paul Haggis",Phil Méheux,"Czech Republic, Pakistan, Uganda, Madagascar, ...","England, Italy, Czech republic, Bahamas, Unite...",Aston Martin,...,144,7.9,7.8,2,3,1,11,11,1,0
21,2008,Quantum of Solace,Daniel Craig,Marc Forster,David Arnold,Paul Haggis and Neal Purvis and Robert Wade,Roberto Schaefer,"Italy, England, Haiti, Austria, Bolivia, Russia","England, Italy, Spain, Panama, Mexico, Chile, ...",Aston Martin,...,106,6.7,6.1,1,6,0,16,15,1,1
22,2012,Skyfall,Daniel Craig,Sam Mendes,Thomas Newman,"Neal Purvis, Robert Wade & John Logan",Roger Deakins,"Turkey, England, China, Macau, Japan, Scotland","England, Scotland, Turkey, China",Aston Martin,...,143,7.8,8.2,3,1,1,26,26,1,0
23,2015,Spectre,Daniel Craig,Sam Mendes,Thomas Newman,"John Logan & Neal Purvis, Robert Wade & Jez Bu...",Hoyte van Hoytema,"Mexico, England, Italy, Austria, Morocco, Vati...","England, Austria, Italy, Vatican City, Mexico,...",Aston Martin,...,148,6.8,6.4,3,1,1,30,205,1,0

In [17]:
bond.iloc[-1]   # vrací poslední film

Year                                                              2015
Movie                                                          Spectre
Bond                                                      Daniel Craig
Director                                                    Sam Mendes
Composer                                                 Thomas Newman
Writer               John Logan & Neal Purvis, Robert Wade & Jez Bu...
Cinematographer                                      Hoyte van Hoytema
Depicted_Film_Loc    Mexico, England, Italy, Austria, Morocco, Vati...
Shooting_Loc         England, Austria, Italy, Vatican City, Mexico,...
Bond_Car_MFG                                              Aston Martin
Bond_Girl_Nat                                 French, Italian, Mexican
US_Gross                                                     200074175
US_Adj                                                          196647
World_Gross                                                  879620923
World_Adj                                                       864553
Budget                                                          245000
Budget_Adj                                                      240803
Film_Length                                                        148
Avg_User_IMDB                                                      6.8
Avg_User_Rtn_Tom                                                   6.4
Conquests                                                            3
Martinis                                                             1
BJB                                                                  1
Kills_Bond                                                          30
Kills_Others                                                       205
Top_100                                                              1
Video_Game                                                           0
Name: 23, dtype: object

In [19]:
bond.iloc[-2]   # přeposlední film

Year                                                           2012
Movie                                                       Skyfall
Bond                                                   Daniel Craig
Director                                                 Sam Mendes
Composer                                              Thomas Newman
Writer                        Neal Purvis, Robert Wade & John Logan
Cinematographer                                       Roger Deakins
Depicted_Film_Loc    Turkey, England, China, Macau, Japan, Scotland
Shooting_Loc                       England, Scotland, Turkey, China
Bond_Car_MFG                                           Aston Martin
Bond_Girl_Nat                                French, Greek, English
US_Gross                                                  304360277
US_Adj                                                       307770
World_Gross                                              1108561108
World_Adj                                                   1120980
Budget                                                       200000
Budget_Adj                                                   202240
Film_Length                                                     143
Avg_User_IMDB                                                   7.8
Avg_User_Rtn_Tom                                                8.2
Conquests                                                         3
Martinis                                                          1
BJB                                                               1
Kills_Bond                                                       26
Kills_Others                                                     26
Top_100                                                           1
Video_Game                                                        0
Name: 22, dtype: object

In [22]:
bond.iloc[0:10:2]
bond.iloc[:10:2]        # stejný výsledek jako výše

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0
6,1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Tom Mankiewicz,Ted Moore,"Japan, Egypt, France, South Africa, Great Brit...","England, France, Germany, Netherlands, United ...",Ford,...,120,6.7,6.3,1,0,1,7,42,1,0
8,1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,John Barry,Richard Maibaum & Tom Mankiewicz,Ted Moore,"Great Britain, Lebanon, Portugal, Thailand","England, Thailand, Hong Kong, Portugal",AMC,...,125,6.7,5.1,2,0,2,1,5,0,0