In [10]:
import pandas as pd

In [11]:
bank_users = pd.read_csv("data/bank_users.csv")

In [12]:
bank_users

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tāngāil
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik
...,...,...,...,...,...,...
195,Franz,Oppy,foppy5f@shutterfly.com,90.0,2020.0,Bílina Kyselka
196,Adolphus,Labbati,alabbati5g@yellowbook.com,56.0,1984.0,Berlin
197,Aurelea,Cordery,acordery5h@furl.net,NaN,1992.0,Veshnyaki
198,Armstrong,Laughren,alaughren5i@yahoo.co.jp,87.0,1983.0,Detik Satu
199,Henrietta,Peckitt,hpeckitt5j@multiply.com,NaN,1967.0,Phú Lộc

In [13]:
type(bank_users)

pandas.core.frame.DataFrame

In [14]:
bank_account = bank_users["bank_account"]
bank_account

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
195    90.0
196    56.0
197     NaN
198    87.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [15]:
type(bank_account)

pandas.core.series.Series

In [16]:
bank_account.sum()

np.float64(10088.0)

In [17]:
bank_account.mean()

np.float64(56.357541899441344)

In [18]:
bank_account.size

200