In [1]:
"zavod" in "zavodit"

True

In [5]:
"harry" in "Harry Potter"

False

In [8]:
text = "Harry Potter"
searched_text = "Harry"
searched_text.lower() in text.lower()

True

In [9]:
import pandas as pd

In [12]:
bank_users = pd.read_csv("data/bank_users.csv")
bank_users

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tāngāil
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik
...,...,...,...,...,...,...
195,Franz,Oppy,foppy5f@shutterfly.com,90.0,2020.0,Bílina Kyselka
196,Adolphus,Labbati,alabbati5g@yellowbook.com,56.0,1984.0,Berlin
197,Aurelea,Cordery,acordery5h@furl.net,NaN,1992.0,Veshnyaki
198,Armstrong,Laughren,alaughren5i@yahoo.co.jp,87.0,1983.0,Detik Satu
199,Henrietta,Peckitt,hpeckitt5j@multiply.com,NaN,1967.0,Phú Lộc

In [13]:
"Gorton" in bank_users

False

In [14]:
bank_users.index

RangeIndex(start=0, stop=200, step=1)

In [15]:
bank_users.values

array([['Shawn', 'Gotts', 'sgotts0@newsvine.com', 58.0, nan, 'Jinchuan'],
       ['Sergeant', 'Linsey', 'slinsey1@qq.com', 70.0, 2007.0, 'Tāngāil'],
       ['Ambrosio', 'Gorton', 'agorton2@google.es', 48.0, 2000.0,
        'Zhushan Chengguanzhen'],
       ...,
       ['Aurelea', 'Cordery', 'acordery5h@furl.net', nan, 1992.0,
        'Veshnyaki'],
       ['Armstrong', 'Laughren', 'alaughren5i@yahoo.co.jp', 87.0, 1983.0,
        'Detik Satu'],
       ['Henrietta', 'Peckitt', 'hpeckitt5j@multiply.com', nan, 1967.0,
        'Phú Lộc']], dtype=object)

In [16]:
"Gorton" in bank_users.values

True

In [18]:
0 in bank_users.values

False

In [19]:
0 in bank_users.index

True